<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="time">

    </div>
    <div class="content">
        <p>{{post_content}}</p>
    </div>
</article>