<section>
        <button type="submit" class="btn">Create New Post</button>
</section>

{{#if posts.length}}
<section>
    <h1> Your Dash </h1>
    <ul>
        {{#each posts as |posts|}}
        <li>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit"> Edit Post</a>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>
