<div>
    <a href="/dashboard"> &larr; Back to Dashboard</a>
</div>

{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" placeholder="Enter Text"></textarea>
    </div>
    <div>
        <button id="comment-button" type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}